* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(
    0deg,
    rgba(23, 37, 221, 1) 0%,
    rgba(246, 49, 255, 1) 100%
  );
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 500px;
  height: 500px;
  margin: 120px;
  border-radius: 150px;
}

.card-image {
  height: 200px;
  margin-bottom: 15px;
  backgroud-size: cover;
  background-image: src("luksoracleLogo.png");
}

a {
  background-color: blue;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 70px;
  border-radius: 15px;
  text-decoration: none;
}

h2 {
  color: blue;
  text-align: center;
  font-family: Dubai;
  padding: 10px;
}

.card:hover {
  background-color: rgb(157, 157, 157);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}

img {
  width: 200px;
  height: 200px;

  /*   position: relative;
  display: flex;
  flex-wrap: wrap; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
