* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: magenta;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 500px;
    height: 500px;
    margin: 120px;
    border-radius: 150px;
}

.card-image {
    height: 200px;
    margin-bottom: 15px;
    backgroud-size: cover;
    background-image: src("luksoracleLogo.png");
}

a {
    background-color: blue;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 70px;
    border-radius: 15px;
    text-decoration: none;
}

h2 {
    color: blue;
    text-align: center;
    font-family: Dubai;
    padding: 10px;
}

.card:hover {
    background-color: rgb(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

img {
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 600px;
    left: 655px;
    display: flex;
    flex-wrap: wrap;
}
